*{margin: 0;}

body {
  height: 100%;
  background-image: url("meowth.png");
  background-size: contain;
}

header {
  max-width: 60em;
  margin: auto;
  background-color: #333;
  color: white;
}

header h1 {padding-left: 1.1em;padding-top: 0.5em}
header h3 {padding-left: 2em;padding-bottom: 1em}

.mainmaindiv {
  width: 60em;
  margin:auto;
}
.maindiv{
  width: 45em;
  float: right;
  background-color: #959595;
}

.sidediv {
  float: left;
  width: 15em;
  background-color: #858585;
}
