*{margin: 0;font-family: 'Open Sans', sans-serif;}

body {
  height: 100vh;
  background-image: url("meowth.png");
  background-size: 100% 100%;
}

header {
  max-width: 60em;
  margin: auto;
  background-color: #333d;
  color: white;
}

footer {
  max-width: 60em;
  margin: auto;
  background-color: #111d;
  color: white;
}

footer * {
  padding: 1em;
}

header h1 {padding-left: 1.1em;padding-top: 0.5em}
header h3 {padding-left: 2em;padding-bottom: 1em}

.mainmaindiv {
  width: 60em;
  margin:auto;
  overflow: hidden;
}
.maindiv{
  width: 45em;
  float: right;
  background-color: #959595dd;
}
.maindiv * {
  margin: 0.5em;
}

.sidediv {
  float: left;
  width: 15em;
  height: 100%;
  background-color: #858585DD;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}
.sidediv * {
  margin: 0.5em;
}
